electron_mirror=https://npm.taobao.org/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://registry.npmmirror.com/binary.html?path=electron-builder-binaries/
node_sqlite3_binary_host_mirror=https://registry.npmmirror.com/binary.html?path=sqlite3/
sass_binary_site=https://registry.npmmirror.com/binary.html?path=node-sass/
PYTHON_MIRROR=https://registry.npmmirror.com/binary.html?path=python/
profiler_binary_host_mirror=https://npm.taobao.org/mirrors/node-inspector/
registry=https://registry.npmmirror.com
package-lock=false
