.app-header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}

main.app-main {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  min-height: calc(100vh - 114px);
  width: 100vw;
}

footer.app-footer {
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
}
